<div class="container" style="margin-top: 20px;">

  <div class="col col-lg-7 text-center">
    <p class="display-4">Novo Curso</p>
  </div>

  <div class="row justify-content-lg-center">
    <div class="col col-lg-9">
      <hr />
    </div>
  </div>

  <form class="was-validated" method="post" novalidate autocomplete="off" #form="ngForm"
    (submit)="onSubmit(form)">

    <div class="fundo">

      <div class="row justify-content-center">

        <div class="col-md-9 col-lg-9">
          <!-- Caixa de texto Descrição -->
          <div class="input-group">
            <span class="input-group-text">Descrição</span>
            <textarea class="form-control" name="descricaoAssunto" aria-label="With textarea"
              [(ngModel)]="service.formData.descricaoAssunto" #descricaoAssunto="ngModel"
              [class.invalid]="descricaoAssunto.invalid && descricaoAssunto.touched" required></textarea>
          </div>

        </div>

        <div class="row justify-content-center">
          <div class="col-md-3 col-lg-3">
            <!-- Caixas de Data Início e Fim -->
            <label class="control-label">Data Início</label>
            <input type="date" class="form-control" name="dataInicio" [(ngModel)]="service.formData.dataInicio"
              #dataInicio="ngModel" [class.invalid]="dataInicio.invalid && dataInicio.touched" required />
          </div>

          <div class="col-md-3 col-lg-3">
            <label class="control-label">Data Fim</label>
            <input type="date" class="form-control" name="dataFim" [(ngModel)]="service.formData.dataFim"
              #dataFim="ngModel" [class.invalid]="dataFim.invalid && dataFim.touched" required />
          </div>

          <div class="col-md-3 col-lg-3">
            <!-- Caixa Quantidade de Alunos -->
            <label for="quantidade" class="form-label m-0">Quantidade de Alunos</label>
            <input aria-label="quantidade" min="0" name="qtdAlunos" type="number" class="form-control" id="qtdAlunos"
              placeholder="" value="" name="dataInicio" [(ngModel)]="service.formData.qtdAlunos" />
          </div>

        </div>

        <div class="row justify-content-center">

          <div class="col-md-9 col-lg-9">
            <label class="control-label">Categoria</label>
            <!-- ComboBox -->
            <select class="form-select" aria-label="Categoria" name="categoriaID" id="cmbCategorias"
              [(ngModel)]="service.formData.categoriaID" #categoriaID="ngModel"
              [class.invalid]="categoriaID.invalid && categoriaID.touched" required>
              <!-- <option value="0">Nenhum selecionado</option> -->
              <option *ngFor="let categoria of service.listCategoria" value="{{categoria.categoriaID}}">
                {{categoria.categoriaNome}}
              </option>
            </select>
          </div>

        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-9 col-md-9">
          <div class="form-group">
            <br />
            <button type="button" class="btn btn-outline-success" type="submit"
              [disabled]="form.invalid">Salvar</button>
            <button id="voltarLista" class="btn btn-outline-warning" routerLink="/app-curso-list"
              type="button">Voltar</button>
          </div>
        </div>
      </div>


    </div>
  </form>

</div>
